body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #292961;
}

.Header a {
  color: #fff;
  text-decoration: none;
}

.EditAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EditAccount h3 {
  text-align: center;
  margin-top: 40px;
}

.edit-account-form {
  min-width: 400px;
}

.control {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.control label {
  display: inline-block;
  width: 100px;
  flex: none;
}

.control input {
  width: 100%;
}

.button {
  background-color: #fff;
  border: 1px solid #888;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #eee;
}

.field-error {
  color: red;
  font-size: 14px;
  margin-left: 100px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

.actions .button {
  margin: 0 5px;
}

.Account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  width: 100px;
}

.Home h3 {
  text-align: center;
}

.product-list .product-row {
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}

.product-row .name {
  font-size: 20px;
  font-weight: bold;
}

.product-row .meta {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.product-actions {
  display: flex;
  align-items: center;
}
